header, 
footer {
    background: pink;
    padding: 2%;
}

h3 {
    cursor: pointer;
}

section {
    text-align: center;
    background-color: grey;
    padding: 1%;
}

h1,
#p {
    padding: 1%;
    border-radius: 5px;
}

h1 {
    border: 2px solid black;
    display:inline-block;
}

#p {
    border: 2px dashed black;
}

#start,
#advance {
    cursor: pointer;
}

li {
    list-style-type: lower-alpha;
    cursor: pointer;
}

li:hover {
    color: white;
}

.button {
    cursor: pointer;
}

.score {
    list-style-type: none;
}