header, 
footer {
    padding: 2%;
}

h3 {
    cursor: pointer;
    border: 2px solid black;
    display: inline;
    padding: 0.5%;
    border-radius: 5px;
}

h3:hover {
    background-color: grey;
}

section {
    text-align: center;
    background-color: #5900b3;
    color: white;
    padding: 1%;
    border-radius: 10px;
}

h1,
#p {
    padding: 1%;
    border-radius: 5px;
}

#container {
    border: 5px double black;
    border-radius: 2px;
}

#start {
    margin-top: 2%;
}

.advance-btn {
    margin-top: 1%;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

#start,
#advance {
    cursor: pointer;
}

li {
    list-style-type: lower-alpha;
    cursor: pointer;
}

li:hover {
    color: black;
}

.button {
    cursor: pointer;
}

.score {
    list-style-type: none;
}

form {
    margin-bottom: 2%;
}

#submit-btn {
    margin-left: 1%;
}

#clear-btn,
#play-again {
    margin-bottom: 1%;
}