header, footer {
    background: pink;
    padding: 2%;
}

section {
    text-align: center;
    background-color: grey;
    padding: 1%;
}

h1 {
    border: 2px solid black;
    display:inline-block;
}

#p {
    border: 2px dashed black;
}